.wrapper_tools{
    width: 100%;
    height: 100%;
    min-height: 50px;
    border: 1px black solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrapper_buttons{
    min-width: 340px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.wrapper_import_export{
    width: 115px;
    height: 100%;
    display: flex;
    gap: 5px;
}
.button_tool{
    position: relative;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.import{
    background-image: url(./../../../../public/import.svg);
}
.export{
    background-image: url(./../../../../public/export.svg);
}
.ascending{
    background-image: url(./../../../../public/ascending.svg);
}
.descending{ 
    background-image: url(./../../../../public/descending.svg);
}