@if(arr_headers$ | async; as arr_headers){
    @if(url$ | async; as url){
        <header class="header">
            <div class="wrapper_picture_name">
                <div class="content_picture"></div>
                <div class="content_name">
                    Sr Xendo
                </div>
            </div>
            
            <nav class="wrapper_nav">
                <li>
                    @for(header of arr_headers; track header.title_header){
                        <ul [ngClass]='{
                            "ul_pemanent_permanent": "/"+header.path_header === url
                        }'>
                            <a [href]="header.path_header">{{header.title_header}}</a>
                        </ul>
                    }   
                </li>
            </nav>
        </header>
    }
}
