.header{

    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background: lightcyan;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.wrapper_picture_name{

    display: flex;
    height: -webkit-fill-available;
    width: auto;
    gap: 10px;
}
.content_picture{
    min-width: 50px;
    width: 45%;
    min-height: 50px;
    height: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../../../../public/profile_50.png);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.content_name{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 81px;
}
.wrapper_nav{
    
    min-width: 340px;
    width: auto;
    max-width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
li{
    width:100%;
    height: 100%;
    gap: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
ul{
    
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul:hover{
    background-color: lightblue;
}
a,
a:visited {
  color: black; /* O el color que prefieras */
  text-decoration: none;
}
.ul_pemanent_permanent {
    background-color: lightblue;
}