<div class="wrapper_main">
  <app-tools-box [arr_elements]="introduction" (arrChange)="change_arr($event)" [name_download]="'presentation'"></app-tools-box>
  <div class="wrapper_presentation">
    <div class="content_presentation">
      <span class="title_presentation">{{introduction.title_introduction}}</span>
      @for(presentation of introduction.arr_presentation; track presentation){
        <p class="text_presentation">
          {{presentation}}
        </p>
      }
    </div>
  </div>
</div>
