<div class="wrapper_main">
    <div class="wrapper_tools">
        <div class="wrapper_buttons">
            <div class="wrapper_import_export">
                <button (click)="fileInput.click()" type="button" class="button_tool import" title="importar experiencias para visualizar"></button>
                <input #fileInput type="file" accept=".json" style="display:none" (change)="onFileSelected($event)" />

                <button title="ordena por fecha de inicio ascendente o descendente" (click)="export_experience()" type="button" class="button_tool export" title="exportar experiencias para usar mas adelante"></button>
            </div>
            <button (click)="order()" type="button" [ngClass]="{
                'button_tool': true,
                'ascending': flag_order,
                'descending': !flag_order
            }"></button>
        </div>
    </div>
    @if(experiences$ | async; as experiences){
        <div class="wrapper_experience">
        @for(exp of experiences; track exp.name_experience){
            <div class="content_experience">
                <div class="wrapper_name_dates">
                    <span class="name_exp">{{exp.name_experience}}</span>
                    <div class="wrapper_dates">
                        <span class="dates">
                            {{formatDateToDDMMYYYY(exp.start_date_experience)}}
                            -
                            {{formatDateToDDMMYYYY(exp.end_date_experience)}}
                        </span>
                    </div>
                </div>
                <div class="wrapper_description">
                    <span class="description">
                        {{exp.description_experience}}
                    </span>
                </div>
            </div>
        }
        </div>
    }
</div>
