.wrapper_experience{
    min-width: 340px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}




.content_experience{
    min-width: 340px;
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}
.wrapper_name_dates{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.name_exp{
    font-weight: bold;
    font-size: 20px;
}
.dates{
    font-weight: bold;
    font-size: 16px;
}
.wrapper_description{
    text-align: left;

}